c# kodlarında:
 string.Format kullan
 $ interplasyon kullanma


--  ekranda krem, beyaz ve az kırmızı detaylar kullanılabilir örnek tasarım @PdfSignatureForm.aspx bu sydasayfadan al

kodda güncelleme olup olmadıgını anlamak icin her seferinde tepesine commentli olarak v1 gibi seyler yaz ve artsın