c# kodlarında:
 string.Format kullan
 $ interplasyon kullanma


--butonlar kırmızı olmalı.diğer kısımlarda kırmızı yogunlugu az olmalı. ekranda kırmızı, beyaz  ve gr detaylar kullanılabilir örnek tasarım
/possibilities/PdfSignatureForm.aspx