<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  
  <system.webServer>
    <handlers>
      <add name="ImageHandler" verb="*" path="ImageHandler.ashx" type="ImageHandler"/>
    </handlers>
    
    <virtualDirectories>
      <virtualDirectory path="/cdn" physicalPath="\\trrgap3027\files\circular\cdn"/>
    </virtualDirectories>
  </system.webServer>
</configuration> 