<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <appSettings>
    <!-- Citrix Sunucu Ayarları -->
    <add key="CitrixServerUrl" value="https://citrix-server.company.com" />
    <add key="CitrixAdminUsername" value="admin@company.com" />
    <add key="CitrixAdminPassword" value="your-admin-password" />
    
    <!-- Uygulama Ayarları -->
    <add key="AppPath" value="C:\Applications\PACO.Exe" />
    <add key="GracefulShutdownTimeout" value="300" /> <!-- 5 dakika -->
    
    <!-- PowerShell Ayarları -->
    <add key="PowerShellExecutionPolicy" value="RemoteSigned" />
    <add key="CitrixSnapinPath" value="C:\Program Files\Citrix\Citrix Studio\SnapIn" />
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service name="Ctrix.CitrixAppManager">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Ctrix/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration> 