<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <appSettings>
    <!-- SMTP Sunucu Ayarları -->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="your-email@gmail.com" />
    <add key="SmtpPassword" value="your-app-password" />
    <add key="EnableSsl" value="true" />
    
    <!-- Servis Ayarları -->
    <add key="RetryIntervalMinutes" value="1" />
    <add key="RetryDelaySeconds" value="60" />
    
    <!-- Gündüz/Gece Tolerans Ayarları -->
    <add key="DayMaxRetryAttempts" value="5" />
    <add key="NightMaxRetryAttempts" value="45" />
    <add key="DayStartHour" value="8" />
    <add key="DayEndHour" value="18" />
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service name="ServisContex.WindowsService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ServisContex/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration> 